################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/obj
/Server/Properties
/Server/bin/Debug/net6.0
/Server/.vs/*
