@import "styles/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #97979786;
  padding: 32px 0;
  ul {
    display: flex;
    flex-direction: row;
    li {
      margin-right: 34px;
      list-style: none;
      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: bold;
        &:hover {
          color: #d87d4a;
        }
      }
    }
  }
}
