.btn {
  background-color: #d87d4a;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 160px;
  &:hover {
    background-color: #fbaf85;
  }
}
